<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name ="EmployeeDatabase" connectionString="data source=.;database = EmployeeDatabase;integrated security =SSPI" providerName="System.data.SqlClient"/>
		
    </connectionStrings>
	<appSettings>
		<add key="GetEmployeeDetails" value="SELECT * FROM EMPLOYEE"/>
		<!--<add key="AddEmployee" value="INSERT INTO EMPLOYEE VALUES(" +
                           $"'{EmployeeDetails.IdOfEmployee.ToUpper()}'," +
                           $"'{EmployeeDetails.NameOfEmployee}'," +
                           $"{EmployeeDetails.MobileNumber}," +
                           $"'{EmployeeDetails.MailOfEmployee}'," +
                           $"'{EmployeeDetails.DateOfBirth.ToString("MM/dd/yyyy")}'," +
                           $"'{EmployeeDetails.DateOfJoin.ToString("MM/dd/yyyy")}')"/>-->
		<!--<add key="DeleteEmployee" value="DELETE FROM EMPLOYEE WHERE EMPLOYEEID = '{id}'"/>-->
		
		
	</appSettings>

</configuration>